{% extends "base.html.jinja" %}

{% block title %}Space{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
    #space-btn {
        background-color: #DD5B6C;
        font-size: x-large;
        width: 100%;
        height: 100%;
        min-height: 12vh;
        color: white;

    }

    #earth-btn {
        background-color: #33E4B4;
        font-size: x-large;
        width: 100%;
        height: 100%;
        min-height: 12vh;
        color: white;
    }

    .container-fluid {
        height: 100%;
        min-height: 90vh;
    }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid d-flex flex-column">
    <div class="my-auto">
        <div class="row mb-5 text-center">
            <h2>Choose Your Astronauts</h2>
        </div>
        <div class="row w-75 mx-auto mt-5 text-center">
            <a href="/fasta-upload">
                <button id="earth-btn">Custom Data</button>
            </a>
        </div>
        <div class="row w-75 mx-auto mt-5 text-center">
            <a href="/ranomized">
                <button id="space-btn">Randomized</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}